.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    padding: 0.65rem 2rem;
    background: linear-gradient(90deg, #1C1C1C, #4A6958);
    color: WHITE;
    position: sticky;
    z-index: 20;
    box-shadow: 0 0 15px yellow;
    border-bottom: 1px solid yellow;
}

.brand {
    font-weight: 500;
    font-size: 35px;
    letter-spacing: 1px;
    margin-left: 50px;
}
.menu-btn {
    display: none;
}

.nav-links {
    display: flex;
    gap: 7px;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 6px;
    font-size: 1.1rem;
    transition: all .18s ease;
    font-weight: 450;
    letter-spacing: 1px;
}

.nav-links a:hover {
    background: #1c1c1cab;
    transform: translateY(-1px);
}

@media (max-width:1005px) {
    

    .navbar {
        position: relative;
        padding: 15px 20px;
        width: 100%;

    }


    .brand {
        margin-left: 0;
        font-size: 24px;
    }


    .menu-btn {
        display: block;
    }
    .menu-toggle {
        display: flex;
    }


    .nav-links {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        border-radius: 0 0 20px 20px;
        background: linear-gradient(90deg, #1C1C1C, #4A6958);
        backdrop-filter: blur(12px);


        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px;


        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transform: translateY(-15px);


        transition:
            max-height .45s ease,
            opacity .35s ease,
            transform .35s ease,
            padding .35s ease;


        padding: 0;
        border-top: 1px solid rgba(135, 206, 235, .3);
        box-shadow: 0 10px 25px rgba(0, 0, 0, .35);
        z-index: 999;
    }


    .nav-links.active {
        max-height: 350px;
        opacity: 1;
        transform: translateY(0);
        padding: 25px 0;
    }


    .nav-links a {
        width: 90%;
        text-align: center;
        padding: 12px;
        border-radius: 10px;
        transition: .3s;
    }


    .nav-links a:hover {
        background: rgba(135, 206, 235, .15);
        color: skyblue;
    }
}
